table {
  width: 100%;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

.cell-content-title {
  font-size: 14px;
  font-weight: 500;
  color: #8c8c8c;
}

.cell-content-size-1 {
  font-size: 14px;
  font-weight: 500;
  color: #808080;
}

.cell-properties {
  border-bottom: 1px solid #f2f2f2;
}
