<!-- Table -->
<div class="mat-elevation-z8">
    <!-- Filter -->
    <mat-form-field *ngIf="isFilterable">
        <input matInput type="text" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">

        <!-- Columns -->
        <ng-container *ngFor="let column of tableColumns">
            <ng-container matColumnDef="{{ column }}">
                <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
            </ng-container>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button>
                    <mat-icon>{{ rowActionIcon }}</mat-icon>
                </button>
            </td>
        </ng-container>
        <!-- Header row -->
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>

        <!-- Data rows -->
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator #paginator *ngIf="isPageable" [pageSizeOptions]="paginationSizes" [pageSize]="defaultPageSize"
        showFirstLastButtons></mat-paginator>


    <!-- Row actions -->
    <!-- <button mat-icon-button *ngFor="let row of tableData" [matMenuTriggerFor]="menu">
        <mat-icon>{{ rowActionIcon }}</mat-icon>
    </button>
    <mat-menu #menu="matMenu"> -->
    <!-- <button mat-menu-item (click)="rowAction.emit(row)">Remove</button> -->
    <!-- </mat-menu> -->
</div>